*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f0f0f0;
}

/* Estilos para o cabeçalho */
header {
  background-color: #007bff;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
}

/* Estilos para o contêiner que envolve o formulário e a tabela */
.container {
  max-width: 800px;
  margin: 2rem auto;
  padding: 1rem;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

/* Estilos para o formulário */
form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 1rem;
}

input[type="text"],
input[type="tel"],
input[type="submit"] {
  padding: 0.5rem;
  margin-top: 0.2rem;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* Estilos para a tabela */
table {
  width: 100%;
  margin-top: 2rem;
  border-collapse: collapse;
}

th, td {
  padding: 0.5rem;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.delete-button {
  background-color: #ff0000;
  color: #fff;
  border: none;
  text-align: center;
  padding: 0.3rem 0.5rem;
  border-radius: 3px;
  cursor: pointer;
}
