* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #020024;
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 31%, rgba(0, 212, 255, 1) 74%);
  text-align: center;
}

.profile-container {
  max-width: 400px;
  margin: 220px auto;
  padding: 20px;
  background-color: #b0c9d8;
  align-items: center;
  box-shadow: 0 0 10px 10px rgba(19, 19, 19, 0.596);
}

.profile-foto {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin: 0 auto;
  display: block;
  border: 1px solid #3c7e41;
}

.profile-foto:hover {
  border: 2px solid #3c7e41;
  cursor: pointer;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0;
  color: #000000;
}

h2 {
  font-size: 18px;
  margin-bottom: 8px;
  color: #888888;
}

.profile-descricao {
  font-size: 16px;
  line-height: 1.5;
  color: #444444;
}

.profile-redes-sociais {
  margin-top: 20px;
}

.profile-redes-sociais a {
  display: inline;
  margin: 0 10px;
  text-decoration: none;
  font-size: 24px;
}

.github {
  color: black;
}

.likedin {
  color: rgb(17, 26, 160);
}

.whatsapp {
  color: green;
}

.profile-redes-sociais a:hover {
  color: #9b9b9b;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Ubuntu:wght@400;500;700&display=swap");
.home {
  display: flex;
  background: url(/image/capa3.png) no-repeat center;
  height: 100vh;
  color: white;
  min-height: 500px;
  font-family: "Roboto", sans-serif;
}

.home .max-width {
  margin: auto 0 auto 40px;
}

/*Edição dos textos*/
.home .conteiner-home .texto-1 {
  font-size: 27px;
  font-weight: 500;
  margin-bottom: 10px;
}

.home .conteiner-home .texto-2 {
  font-size: 75px;
  font-weight: 500;
  margin-left: -3px;
}

.home .conteiner-home .texto-3 {
  font-size: 40px;
  margin: 5px 0;
  font-weight: 500;
}
/*codigo para fazer efeito de gradiante em texto*/
.home .conteiner-home .texto-3 span {
  background: -webkit-linear-gradient(left, #00ffff, #00008b);
  background: linear-gradient(to right, #00ffff, #00008b);

  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
}

/*Botão #00008B*/
.home .conteiner-home a {
  display: inline-block;
  background: linear-gradient(to right, #00ffff, #00008b);
  color: white;
  font-size: 25px;
  padding: 12px 36px;
  margin-top: 20px;
  border-radius: 20px;
  border: 2px white solid;
  transition: all 1s ease;
  text-decoration: none;
}
/*Efeito do Botão*/
.home .conteiner-home a:hover {
  color: white;
  background: none;
  border: 2px #00ffff solid;
}
